
body{
    background-color: #1a1a40;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.scoreboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 600px;
    max-width: 600px;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-height: 90vh;
    gap: 15px;
    min-width: 70vh;;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #2c3e50;
}


.scoreboard h2{
    text-align: center;
    color: #000000;
    font-size: 2em;
    margin: 5px 0 10px 0; 
}

.teams {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 20px;;
}

.team{
    text-align: center;
}

.score{
    background-color: #6c757d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    margin-left: auto;
    margin-right: auto ;

}

.score-buttons button{
    background-color: #ffeeba;
    color:#6f42c1;
    padding : 20px;
    border: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    cursor: pointer;
}

.score-buttons button:hover{
    background-color: 	#ff6b6b;
}


.reset button{
    background-color: 	#ff6b6b;
    color: white;
    padding : 20px 33px 20px 33px;
    border: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    cursor: pointer;
}

.compare-result{
    font-size: x-large;
    color:#343a40;


}

.compare button{
    background-color: #20c997;
    color: white;
    padding : 20px;
    border: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    margin-left: auto;
     margin-right: auto;
     border-radius: 10px;
     cursor: pointer;
}









